@import "tailwindcss";

@theme {
  /* Cores da Scaramuzzi */
  --color-primary: #c5a358;
  --color-secondary: #1a1a1a;
  --color-background: #f9f9f9;
  --color-accent: #e5e5e5;

  /* Fontes */
  --font-sans: var(--font-inter), ui-sans-serif, system-ui;
  --font-serif: var(--font-playfair-display), ui-serif, Georgia;
}
